<div class="container">

    <div class="row icon-item">
        <div class="col-8 justify-content-left logo-item">
            <img width="25%" src="../../assets/YokogawaLogo.jpg">
        </div>
        <div class="col-4 justify-content-right logo-item">
            <span class="menu-text">Invoice Portal</span>
        </div>
    </div>

    <hr>

    <div style="text-align: center;">
        <span>
            <h2 style="font-size: 25px;">Welcome to the Invoice Portal</h2>
        </span>
    </div>


    <br>
    <br>

    <div style="text-align: center;">
        <h3 style="font-size: 15px;">LOG IN</h3>
    </div>

    <!-- <div style="text-align: center;">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="username">
            <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </div>

    <div style="text-align: center;">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password">
            <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </div> -->

    <div style="text-align: center;">
        <button mat-raised-button (click)="loginuser()">Login</button>
    </div>

</div>
